In [35]:
import pandas as pd

'''Have multiple csv files from each region, need to merge them together'''

'''
1=europe
2=north america
3=brazil
4=asia pacific
5=korea
6=china
7=japan
8=latin america-south
9=latin america-north
10=oceania
11=mena
12=gc
'''

df1  = pd.read_csv('player_data_eu.csv')
df2  = pd.read_csv('player_data_na.csv')
df3  = pd.read_csv('player_data_br.csv')
df4  = pd.read_csv('player_data_apa.csv')
df5  = pd.read_csv('player_data_kor.csv')
df6  = pd.read_csv('player_data_chn.csv')
df7  = pd.read_csv('player_data_jpn.csv')
df8  = pd.read_csv('player_data_las.csv')
df9  = pd.read_csv('player_data_lan.csv')
df10 = pd.read_csv('player_data_oce.csv')
df11 = pd.read_csv('player_data_mena.csv')

df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]

In [36]:
# merging all the data frames together:

df = pd.concat(df_list, ignore_index=True)

In [37]:
df.shape[0]

2757

In [38]:
# some rows have missing entries, removing those...

df = df.dropna()
df.shape[0]

2573

In [39]:
# parsing the "Matches" column

df['matches_percent'] = df['Matches'].apply(lambda x: int(x.split(' ')[1].replace('%', '')))
df['match_number'] = df['Matches'].apply(lambda x: int(x.split(' ')[0].replace('(', '').replace(')', '')))
df['KAST_percent'] = df['KAST'].apply(lambda x: int(x.replace('%', '')))
# Need to convert all of the strings to actual numbers...
df['Rounds'] = df['Rounds'].apply(lambda x: int(x))
df['Rating'] = df['Rating'].apply(lambda x: float(x))
df['ACS']    = df['ACS'].apply(lambda x: float(x))
df['KD']     = df['KD'].apply(lambda x: float(x))
df['ADR']    = df['ADR'].apply(lambda x: float(x))
df['KPR']    = df['KPR'].apply(lambda x: float(x))
df['APR']    = df['APR'].apply(lambda x: float(x))
df['FKPR']   = df['FKPR'].apply(lambda x: float(x))
df['FDPR']   = df['FDPR'].apply(lambda x: float(x))
df['K']      = df['K'].apply(lambda x: int(x))
df['D']      = df['D'].apply(lambda x: int(x))
df['A']      = df['A'].apply(lambda x: int(x))
df['FK']     = df['FK'].apply(lambda x: int(x))
df['FD']     = df['FD'].apply(lambda x: int(x))
df['Region'] = df['Region'].apply(lambda x: int(x))
df.head()

,Username,Agent,Matches,Rounds,Rating,ACS,KD,ADR,KAST,KPR,...,FDPR,K,D,A,FK,FD,Region,matches_percent,match_number,KAST_percent
0,ANGE1,omen,(131) 38%,2728,0.83,198.0,0.91,123.3,65%,0.68,...,0.16,1861,2036,607,382,381,1,38,131,65
1,ANGE1,brimstone,(89) 26%,1849,1.08,226.1,1.00,136.4,74%,0.76,...,0.17,1399,1399,403,298,84,1,26,89,74
2,ANGE1,viper,(45) 13%,919,1.03,200.2,0.97,130.5,71%,0.66,...,0.13,610,631,307,114,120,1,13,45,71
3,ANGE1,astra,(11) 3%,205,1.31,226.5,1.56,143.5,80%,0.83,...,0.09,170,109,71,24,18,1,3,11,80
4,ANGE1,breach,(10) 3%,219,0.67,150.5,0.66,101.3,64%,0.53,...,0.15,117,178,49,11,32,1,3,10,64

Saving to csv file...

In [40]:
df.to_csv('vlr_player_data.csv', index=False)